@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~highlight.js/styles/rainbow.css";

pre {
    width:100%; 
    border-style:dotted; 
    height:800px; 
    font: normal 10pt Consolas, Monaco, monospace;
}

